[submodule "src/plugins/pro"]
	path = src/plugins/pro
	url = https://github.com/chitang818/wemedia-baby-pro.git
	branch = main

[submodule "src/pro_features"]
	path = src/pro_features
	url = https://github.com/chitang818/wemedia-baby-pro.git
	branch = main
